// COLORS PALETTE
$white: #FFF;
$red: #F00;
$blue: #00F;
$gree: #0F0;

//util
$box-shadow: 0px 0px 18px -1px rgba(194,181,204,0.16);


//Radius
$radius100: 100%;
$radius25: 25px;
$radius15: 15px;
$radius10: 10px;
$radius5: 5px;

//-------------------//
//       FONTS       //
//-------------------//




// Font Sizing
$header60px: 3.75rem;
$header54px: 3.375rem;
$header48px: 3rem;
$header42px: 2.652rem;
$header36px: 2.25rem;
$header32px: 2rem;
$header28px: 1.75rem;
$header26px: 1.6rem;
$header24px: 1.5rem;
$header22px: 1.375rem;
$header20px: 1.25rem;
$header18px: 1.12rem;

$text36px: 2.25rem;
$text32px: 2rem;
$text27px: 1.688rem;
$text24px: 1.333rem;
$text20px: 1.25rem;
$text18px: 1.125rem;
$text16px: 1rem;
$text14px: 0.888rem;
$text13px: 0.813rem;
$text12px: 0.666rem;
$text10px: 0.444rem;
